:root {
    --heading-font-family: 'Shippori Antique B1';
    --heading-font-weight: 700;
    --body-font-family: "Montserrat", sans-serif;
    --body-font-weight: 400;

    /*Colors*/
    --text-lighter: oklch(41.23% 0.009 17.54);
    --text-main: oklch(35.46% 0.008 17.55);
    --text-darker: oklch(21.25% 0.005 17.53);

    --background-main: oklch(99.11% 0.000 89.88);
    --background-100: oklch(92.49% 0.000 89.88);
    --background-200: oklch(84.52% 0.000 89.88);
    --background-600: oklch(51.03% 0.000 89.88);
    --background-800: oklch(32.11% 0.000 89.88);
    --background-950: oklch(15.91% 0.000 89.88);

    --primary-lighter: oklch(94.47% 0.035 205.49);
    --primary-main: oklch(85.78% 0.086 204.99);
    --primary-darker: oklch(80.12% 0.114 205.20);

    --secondary-lighter: oklch(94.70% 0.025 11.58);
    --secondary-main: oklch(88.37% 0.057 12.90);
    --secondary-darker: oklch(79.44% 0.108 14.73);

    --accent-lighter: oklch(92.57% 0.098 91.74);
    --accent-main: oklch(87.38% 0.155 89.91);
    --accent-darker: oklch(83.53% 0.171 84.66);

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--text-main);
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
#sitename {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}

html {
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 1.990rem;
    /* 31.84px */
}

h2 {
    font-size: 1.658rem;
    /* 26.56px */
}

h3 {
    font-size: 1.382rem;
    /* 22.08px */
}

h4,
#sitename {
    font-size: 1.152rem;
    /* 18.4px */
}

h5 {
    font-size: 0.960rem;
    /* 15.36px */
}

/* .small {
    font-size: 0.667rem;
    /* 10.72px 
} */

main {
    margin: 0.5em;
    padding: 0.5em;
    width: 80%;
    margin: 0 auto;
}

header,
footer {
    padding: 1em;
}

header,
footer {
    justify-content: space-between;
    background-color: var(--text-main);
    color: var(--background-main);
}

footer {
    display: flex;
    border-radius: 2em 2em 0 0;
    justify-content: space-between;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 53px 1fr 2fr;
    column-gap: 0.5em;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 2em 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: var(--background-main);

    &:hover {
        color: var(--accent-lighter);
    }
}

button {
    height: 45px;
    padding: 0.5em;
    background-color: var(--primary-main);
    border: none;
    border-radius: 1rem;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);

}

img {
    border-radius: 0.6em;
    width: 100px;
    height: auto;
}

input {
    height: 45px;
    border-radius: 2em;
    border: 2px solid var(--text-darker);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    padding-left: 2em;
}

#icon {
    width: 50px;
    height: auto;
}

/***** FILM PAGE *****/
.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.film-grid img {
    width: 250px;
    height: auto;
}

.simpleFilm-card {
    position: relative;
}

.filmCard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas:
        ". . c"
        ". . a"
        ". . b";
    row-gap: 0.6em;
    padding: 0.5em;
}

.film-rating {
    grid-area: c;
}

.film-score {
    grid-area: a;
}

.film-favorites {
    grid-area: b;
}

.filmCard-overlay span {
    text-align: center;
    align-content: center;
    background-color: var(--background-main);
    border-radius: 2em;
    padding: 0.3em;
    font-size: 0.887rem;
}