:root {
    --heading-font-family: 'Shippori Antique B1';
    --heading-font-weight: 700;
    --body-font-family: "Montserrat", sans-serif;
    --body-font-weight: 400;

    /*Colors*/
    --text-lighter: oklch(41.23% 0.009 17.54);
    --text-main: oklch(35.46% 0.00838 17.291);
    --text-darker: oklch(21.25% 0.005 17.53);

    --background-main: oklch(99.11% 0.000 89.88);
    --background-100: oklch(92.49% 0.000 89.88);
    --background-200: oklch(84.52% 0.000 89.88);
    --background-600: oklch(51.03% 0.000 89.88);
    --background-800: oklch(32.11% 0.000 89.88);
    --background-950: oklch(15.91% 0.000 89.88);

    --primary-lighter: oklch(94.47% 0.035 205.49);
    --primary-main: oklch(85.78% 0.086 204.99);
    --primary-darker: oklch(80.12% 0.114 205.20);

    --secondary-lighter: oklch(94.70% 0.025 11.58);
    --secondary-main: oklch(88.37% 0.057 12.90);
    --secondary-darker: oklch(79.44% 0.108 14.73);

    --accent-lighter: oklch(92.57% 0.098 91.74);
    --accent-main: oklch(87.38% 0.155 89.91);
    --accent-darker: oklch(83.53% 0.171 84.66);

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--text-main);
    background-color: var(--background);

}

h1,
h2,
h3,
h4,
h5,
#sitename {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}

html {
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 1.990rem;
    /* 31.84px */
}

h2 {
    font-size: 1.658rem;
    /* 26.56px */
}

h3 {
    font-size: 1.382rem;
    /* 22.08px */
}

h4,
#sitename {
    font-size: 1.152rem;
    /* 18.4px */
}

h5 {
    font-size: 0.960rem;
    /* 15.36px */
}

/* .small {
    font-size: 0.667rem;
    /* 10.72px 
} */

main {
    margin: 0.5em;
    padding: 0.5em;
    width: 75%;
    margin: 0 auto;
}

header,
footer {
    padding: 1em;
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    justify-content: space-between;
    background-color: var(--text-main);
    color: var(--background-main);
}

footer {
    display: flex;
    border-radius: 2em 2em 0 0;
    justify-content: space-between;
    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 53px 1fr 2fr;
    column-gap: 0.5em;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 2em 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    color: var(--background-main);

    &:hover {
        color: var(--accent-lighter);
    }
}

button {
    height: 45px;
    padding: 0.5em;
    background-color: var(--primary-main);
    border: none;
    border-radius: 1rem;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);

}

img {
    border-radius: 2em;
    width: 100px;
    height: auto;
}

input {
    height: 45px;
    border-radius: 2em;
    border: 2px solid var(--text-darker);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    padding-left: 2em;
}

#icon {
    width: 50px;
    height: auto;
}

/*Buttons for navigation in page*/
.pagesBtn {
    text-decoration: none;
    color: var(--text-darker);
    background-color: var(--accent-lighter);
    padding: 0 1em;
    height: 45px;
    width: auto;
    border-radius: 2em;
    display: inline-block;
    align-content: center;
    text-align: center;
}

.pagesBtn:hover {
    background-color: var(--accent-main);
}

#seeMoreFilms-main {
    margin-left: 5%;
}

/***** HOME PAGE *****/
.cards {
    box-shadow: 0 4px 6px var(--background-600);
    padding: 3em;
    border-radius: 2em;
    margin: 0.6em 0.6em 2em 0.6em;
}

#popularFilms {
    margin-top: 1.5em;
}

#topRatedFilms section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#topRatedFilms h2 {
    display: inline-block;
}

#filmOfTheDay {
    display: block;
    grid-template-areas:
        "vid vid vid"
        "info info info ";
    margin-bottom: 2em;

    & h3 {
        text-align: center;
    }
}

.featureFilm-info {
    grid-area: info;
    display: block;
    grid-template-areas:
        "photo title"
        "photo synopsis"
        "photo paragraph";

    column-gap: 1em;
    margin: 2em 0.5em 3em 0.5em;

    & .title-heading {
        grid-area: title;
        align-content: center;

        & h1 {
            text-align: center;
            text-transform: uppercase;
        }

        & h2 {
            position: relative;
            text-align: center;
            color: var(--text-main);

            & span {
                position: absolute;
                top: -50%;
                left: 0;
                bottom: 0;
                right: 0;
                font-size: 200%;
                display: inline-block;
                z-index: -1;
                /* opacity / 0.171 / 0.322 */
                color: oklch(79.469% 0.10761 13.964 / 0.322);
            }
        }
    }

    & figure {
        grid-area: photo;
        align-self: center;
        margin: 0;
        padding: 0;

        & img {
            width: 100%;
            border-bottom: 8px solid var(--primary-lighter);
            border-left: 8px solid var(--primary-lighter);
            box-shadow: -4px 6px 20px var(--background-600);
        }
    }

    & h4 {
        grid-area: synopsis;
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0;
        padding: 0 5em 0 5em;
        display: grid;
        align-items: end;
    }

    & p {
        grid-area: paragraph;
        line-height: 1.5;
        text-indent: 2em;
        text-align: left;
        padding: 0;
        margin-top: 0;
    }
}


.video {
    grid-area: video;
    align-self: center;
    justify-self: center;
    position: relative;
    border-radius: 2em;
    overflow: hidden;
    padding-top: 56.25%;
    width: 80%;
    height: 0;
    box-shadow: 0 4px 6px var(--background-600);
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***** FILM PAGE *****/
.film-grid,
.character-grid,
#popularFilms{
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.film-grid img,
#popularFilms img {
    width: 250px;
    height: auto;
}

.simpleFilm-card {
    position: relative;

    & h4 {
        margin-top: 0;
        font-style: italic;
    }

    & h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.filmCard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    grid-template-areas:
        ". . c"
        ". . a"
        ". . b";
    row-gap: 0.6em;
    padding: 0.5em;
}

.film-rating {
    grid-area: c;
}

.film-score {
    grid-area: a;
}

.film-favorites {
    grid-area: b;
}

.filmCard-overlay span {
    text-align: center;
    align-content: center;
    background-color: var(--background-main);
    border-radius: 2em;
    padding: 0.3em;
    font-size: 0.887rem;
}

.character-grid{
    & h2{
        grid-column: 1/-1; 
    }
}

/****CHARACTER PAGE ***/
.simpleChar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.simpleChar-card h3 {
    margin-top: 0;
}

.simpleChar-card img {
    width: 200px;
}

@media screen and (min-width: 904px) {

    .film-grid,
    .character-grid,
    .filmCard-overlay,
    .featureFilm-info,
    #popularFilms {
        display: grid;
    }

    .hero-overlay-content {
        display: flex;
    }

    .featureFilm-info p {
        padding: 0 5em 0 5em;
    }
}